{% extends "base.html" %} 
    {% block title %} Create User | XYZ Apartment {% endblock %} 

    {% block banner %}
    <h1>Create {{ user_role }} user</h1>
    {% endblock %}

    {% block breadcrumbs_nav %}
        {% import 'components.html' as components %}
        {% if user_role == 'admin' %}
            {% set url = 'user.manage_users(admin)' %}
            {% set text = 'Create Admin' %}
        {% elif user_role == 'resident' %}
            {% set url = 'user.manage_users' %}
            {% set text = 'Create Resident' %}
        {% endif %}
        {{ components.breadcrumbs('Manage Users', url, text) }}
    {% endblock %}
    
    {% block content %}
    <section class="create-user">
        <div class="container">
            <form method="POST">
                <div class="general-inputs">
                    <div class="info">
                        <div class="input-div">
                            <label for="full-name" class="required"> Full Name </label>
                            <input 
                                id="full-name"
                                name="full-name"
                                type="text"
                                value="{{ full_name or '' }}"
                                maxlength="100"
                                required
                            >
                        </div>
            
                        <div class="input-div">
                            <label for="email" class="required">
                                Email Address
                            </label>
                
                            <input
                                id="email"
                                name="email"
                                type="email"
                                value="{{ email or '' }}"
                                maxlength="255"
                                required
                            />
                        </div>
                    </div>
            
                    <div class="input-div">
                        <label for="password" class="required"> Password </label>
                        <input 
                            id="password" 
                            name="password" 
                            type="password"
                            maxlength="20"
                            required 
                        />
                    </div>
                </div>

                {% if user_role == 'resident' %}
                <div class="resident-inputs">
                    <div class="info">
                        <div class="input-div">
                            <label for="apartment" class="required"> Apartment </label>
                            <input 
                                id="apartment"
                                name="apartment"
                                type="text"
                                value="{{ apartment or '' }}"
                                maxlength="4"
                                required
                            >
                        </div>
            
                        <div class="input-div">
                            <label for="locker" class="required"> Locker </label>
                            <input 
                                id="locker"
                                name="locker"
                                type="text"
                                value="{{ locker or '' }}"
                                maxlength="100"
                                required
                            >
                        </div>
            
                        <div class="input-div">
                            <label for="lease-date" class="required"> Lease Date </label>
                            <input 
                                id="lease-date"
                                name="lease-date"
                                type="date"
                                value="{{ lease_date or '' }}"
                                required
                            >
                        </div>
                    </div>
        
                    <div class="input-div">
                        <label for="parking-status" class="required"> Parking Status </label>
                        <select name="parking-status" id="parking-status" required>
                            <option value="">Select Parking Status</option>
                            {% if parking_status == "paid" %}
                            <option value="paid" selected>Paid</option>
                            <option value="late">Late</option>
                            <option value="revoked">Revoked</option>
                            <option value="inactive">Inactive</option>
                            
                            
                            {% elif parking_status == "late" %}
                            <option value="paid">Paid</option>
                            <option value="late" selected>Late</option>
                            <option value="revoked">Revoked</option>
                            <option value="inactive">Inactive</option>
                            
                            {% elif parking_status == "revoked" %}
                            <option value="paid">Paid</option>
                            <option value="late">Late</option>
                            <option value="revoked" selected>Revoked</option>
                            <option value="inactive">Inactive</option>
                            
                            {% elif parking_status == "inactive" %}
                            <option value="paid">Paid</option>
                            <option value="late">Late</option>
                            <option value="revoked">Revoked</option>
                            <option value="inactive" selected>Inactive</option>
                            
                            {% else %}
                            <option value="paid">Paid</option>
                            <option value="late">Late</option>
                            <option value="revoked">Revoked</option>
                            <option value="inactive">Inactive</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                {% endif %}
        
                <div class="button-div">
                    <button type="submit" class="btn submit">Create {{ user_role }} user</button>
                    <a href="{{ url_for('user.manage_users') }}" class="btn cancel">cancel</a>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}