<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            XYZ Aparment
        {% endblock %}
    </title>

    <link 
        rel="stylesheet" 
        href="{{ url_for(
            'static',
            filename='styles.css'
        )}}"
    >
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li> 
                    <a 
                    href="{{ url_for('home') }}" 
                    class="btn logo"
                    >
                        XYZ Apartment
                    </a>
                </li>

                {% if not current_user.is_authenticated %}
                <li>
                    <a 
                    href="{{ url_for('login') }}" 
                    class="btn"
                    >
                        Login
                    </a>
                </li>
                
                {% elif current_user.is_authenticated %}
                <div class="menu">
                    <li>
                        <a 
                        href="{{ url_for('dashboard') }}" 
                        class="btn{% if request.endpoint == 'dashboard' %} active {% endif %}"
                        >
                            Dashboard
                        </a>
                    </li>
    
                    <li>
                        <form
                        action="{{ url_for('logout') }}"
                        method="POST"
                        >
                            <button type="submit" class="btn">
                                Logout
                            </button>
                        </form>
                    </li>
                </div>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner{% if request.endpoint == 'home' %} home{% endif %}">
            <div class="container">
                {% block banner %}
                {% endblock %}
            </div>
        </section>

        {% with messages = get_flashed_messages(
            with_categories=true
            )
        %}
        {% if messages %}
        <section class="flash-section">
            <div class="container">
                <div class="flash-messages">
                    {% for category, message
                        in messages
                    %}
                        <p class="flash {{ category }}">
                            {{ message }}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </section>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    
    {% block script %}
    {% endblock %}
</body>
</html>