{% extends "base.html" %} 
    {% block title %} Dashboard | XYZ Apartment {% endblock %} 
    
    {% block banner %}
    <h1>{{ current_user.role }} Dashboard</h1>
    {% endblock %}

    {% block content %}
    <section class="quick-access">
        <div class="container">
            {% if current_user.is_admin %}
                
                <a 
                href="{{ url_for('manage_users') }}" 
                class="btn"
                >
                    manage users
                </a>
                
                <a 
                href="{{ url_for('dashboard') }}" 
                class="btn"
                >
                    manage posts
                </a>
                
                <a 
                href="{{ url_for('announcement_add') }}" 
                class="btn"
                >
                    Create new announcement
                </a>

                {% else %}
                <a 
                href="{{ url_for('dashboard') }}" 
                class="btn"
                >
                    manage posts
                </a>
                
                <a 
                href="{{ url_for('post_add') }}" 
                class="btn"
                >
                    Create new post
                </a>
            </div>
            {% endif %}
        </div>
    </section>

    <section class="dashboard">
        <div class="container">
            <div class="display-btns">
                <button class="btn active" id="btn-announcements">
                    See announcements
                </button>

                <button class="btn" id="btn-posts">
                    See community Posts
                </button>
            </div>

            <div class="announcements-div active"></div>
            <div class="posts-div"></div>
        </div>
    </section>

    <template id="template-announcement">
        <style>
            article.announcement-card {
                position: relative;
                padding: 20px;
                background-color: #c3ccc5;
                border-radius: 4px;

                h3 {
                    margin-bottom: 20px;
                }

                div.button-div.close {
                    position: absolute;
                    top: 0;
                    right: 0;

                    transform: translate(20px, -10px);

                    button.btn.close {
                        text-align: center;
                        font-weight: 700;
                        height: 50px;
                        width: 50px;
                        border-radius: 4px;
                        border: none;

                        background-color: #4e2f24;
                        color: #f6f5f4;
                    }

                    .btn.close:hover {
                        background-color: #e7d2cb;
                        color: #322d29;
                    }
                }

                div.card-contents{
                    display: flex;
                    gap: 20px;
                    
                    div.image {
                        width: 25%;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }

                    div.text-content {
                        width: 75%;
        
                        p{
                            margin: 0;
                        }

                        p.label {
                            text-transform: capitalize;
                            font-weight: 600;
                            margin-bottom: 5px;
                        }
                        
                        div.details-div {
                            display: flex;
                            gap: 20px;
                            justify-content: space-between;
        
                            div.detail {
                                p {
                                    text-transform: capitalize;
                                }
                            }
                        }
                        
                        div.body-div {
                            margin: 20px 0;
                            p.body {
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
        
                            p.body.expanded {
                                white-space: pre-line;
                            }
                        }
                    }
                }
                
                div.card-contents.expanded {
                    flex-direction: column-reverse;
                    
                    div.image {
                        width: 100%;
                        height: 150px;
                    }
                    
                    div.text-content {
                        width: 100%;
                    }
                }
                
                div.button-div {
                    margin-top: 20px;

                    button.btn {
                        display: inline-block;
                        width: 100%;
                        background-color: #425747;
                        border: #425747 solid 1px;
                        color: #f6f5f4;
                        padding: 10px 20px;
                        border-radius: 4px;
                        text-transform: capitalize;
                    }
    
                    button.btn:hover {
                        background-color: transparent;
                        color: #322d29;
                    }
                }
            }
        </style>

        <article class="announcement-card">
            <div class="button-div close">
                <button class="btn close" id="close">
                    X
                </button>
            </div>
            
            <div class="card-contents">
                <div class="image"></div>
                
                <div class="text-content">
                    
                    <h3 class="title">Announcement title</h3>
                    
                    <div class="details-div">
                        <div class="detail">
                            <p class="label">
                                Affected Floors:
                            </p>
                            <p class="area">
                                Affected Floors
                            </p>
                        </div>
                        
                        <div class="detail">
                            <p class="label">
                                Urgency:
                            </p>
                            <p class="urgency">
                                High
                            </p>
                        </div>
                        
                        <div class="detail">
                            <p class="label">
                                Duration:
                            </p>
                            <p class="duration">
                                time line
                            </p>
                        </div>
                    </div>
                    
                    <div class="body-div">
                        <p class="label">Description:</p>
                        <p class="body">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quod maiores id molestiae laudantium obcaecati, quidem perferendis alias a voluptate hic voluptas, sapiente eos impedit fugiat? Quibusdam quisquam sunt quod?
                            
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis necessitatibus animi vitae enim delectus atque fuga harum voluptatem assumenda sunt, corporis cupiditate eos repellat sapiente suscipit iste officia sit! Sint.
                            
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, laborum numquam libero nisi voluptatem sequi fugit? Voluptatibus, nemo deserunt nisi, quis amet consequatur ipsam accusamus ipsum, optio dolore blanditiis maiores.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="button-div">
                <button class="btn expand">
                    See more
                </button>
            </div>
        </article>
    </template>
    {% endblock %}
    
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% endblock %}


