{% extends "base.html" %} 
    {% block title %} Dashboard | XYZ Apartment {% endblock %} 
    
    {% block banner %}
    <h1>{{ current_user.role }} Dashboard</h1>
    {% endblock %}

    {% block content %}
    <section class="immediate-announcements">
        <div class="container">
            
        </div>
    </section>
    
    <section class="quick-access">
        <div class="container">
            <div class="button-div">
                {% if current_user.is_admin() %}
                    <a 
                    href="{{ url_for('user.manage_users') }}" 
                    class="btn"
                    >
                        manage users
                    </a>

                    
                    <a 
                    href="{{ url_for('content.announcement_manage') }}" 
                    class="btn"
                    >
                        manage announcements
                    </a>

                    {% else %}
                    <a 
                    href="{{ url_for('content.post_add') }}" 
                    class="btn"
                    >
                        Create new post
                    </a>
                    {% endif %}

                    <a 
                    href="{{ url_for('content.post_manage') }}" 
                    class="btn"
                    >
                        manage posts
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="dashboard">
        <div class="container">
            <div class="display-btns">
                <button class="btn active" id="btn-announcements">
                    See announcements
                </button>

                <button class="btn" id="btn-posts">
                    See community Posts
                </button>
            </div>

            <div class="announcements-div active">
                <div class="sorting-btns">
                    <button class="btn active" id="recent">Recent</button>
                    <button class="btn" id="id">Oldest</button>
                    <button class="btn" id="title">title (asc)</button>
                    <button class="btn" id="start-date">start date (asc)</button>
                    <button class="btn" id="end-date">end date (desc)</button>
                </div>

                <div class="error-msg"></div>

                <div class="announcement-cards"></div>
            </div>

            <div class="posts-div">
                <div class="sorting-btns">
                    <button class="btn active" id="recent">Recent</button>
                    <button class="btn" id="id">Oldest</button>
                    <button class="btn" id="title">title (asc)</button>
                    <button class="btn" id="start-date">start date (asc)</button>
                    <button class="btn" id="end-date">end date (asc)</button>
                    <button class="btn" id="category-search">in search of category (desc)</button>
                    <button class="btn" id="category-give">to give away category (desc)</button>
                    <button class="btn" id="category-share">something to share category (desc)</button>
                </div>

                <div class="error-msg"></div>

                <div class="post-cards"></div>
            </div>
        </div>
    </section>

    <template id="template-announcement">
        {% import 'components.html' as components %}
        {{ components.style('announcement') }}
        {{ components.card('announcement', label_1='area', label_2='urgency', label_3='duration') }}
    </template>

    <template id="template-post">
        {% import 'components.html' as components %}
        {{ components.style('post') }}
        {{ components.card('post', label_1='author', label_2='duration', label_3='contact') }}
    </template>
    {% endblock %}
    
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
    {% endblock %}
