{% extends "base.html" %} 
    {% block title %} Edit Announcement | XYZ Apartment {% endblock %} 
    
    {% block banner %}
    <h1>Edit Announcement</h1>
    {% endblock %}
    
    {% block content %}
    <section class="add-announcement">
        <div class="container">
            <form method="POST">
                <div class="input-div">
                    <label for="title" class="required">Announcement Title</label>
                    <input 
                        type="text"
                        id="title"
                        name="title"
                        maxlength="100"
                        value="{{ title or announcement.title }}"
                        required
                    >
                </div>
        
                <div class="input-div checkbox">
                    <legend class="required">Affected Area</legend>
                    
                    {% for option in area_options %}
                    {% if option in announcement.affected_area %}
                    <div class="checkbox-option">
                        <input 
                            type="checkbox"
                            name="affected-area"
                            id="{{ option.replace(' ', '-') }}"
                            value="{{ option }}"
                            checked
                        >
                        <label for="{{ option.replace(' ', '-') }}">{{ option | title }}</label>
                    </div>
        
                    {% else %}
                    <div class="checkbox-option">
                        <input 
                            type="checkbox"
                            name="affected-area"
                            id="{{ option.replace(' ', '-') }}"
                            value="{{ option }}"
                        >
                        <label for="{{ option.replace(' ', '-') }}">{{ option | title }}</label>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
                <div class="input-div">
                    <label for="urgency" class="required">Urgency</label>
        
                    <select name="urgency" id="urgency">
                        <option value="">Select urgency level</option>
                        {% for option in urgency_options %}
                        {% if announcement.urgency == option %}
                        <option value="{{ option }}" selected>{{ option | title }}</option>
                        {% else %}
                        <option value="{{ option }}">{{ option | title }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                
                <div class="date-div">
                    <div class="input-div">
                        <label for="start-date">Start Date</label>
                        <input 
                        type="date" 
                        name="start-date" 
                        id="start-date"
                        value="{{ start_date or announcement.start_date }}"
                        >
                    </div>
                        
                    <div class="input-div">
                        <label for="end-date">End Date</label>
                        <input 
                        type="date" 
                        name="end-date" 
                        id="end-date"
                        value="{{ end_date or announcement.end_date }}"
                        >
                    </div>
                </div>
                
                <div class="input-div">
                    <label for="body" class="required">Announcement Body</label>
                    <textarea name="body" id="body" rows="10" required>{{ body or announcement.body }}</textarea>
                </div>
                
                <div class="input-div">
                    <label for="image">Image URL</label>
                    <input 
                        type="url" 
                        name="image" 
                        id="image"
                        value="{{ image or announcement.image_url }}"
                    >
                </div>
        
                <div class="button-div">
                    <button type="submit" class="btn submit">Update Announcement</button>
                    <a href="{{ url_for('content.announcement_manage') }}" class="btn cancel">cancel</a>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}