{% extends "base.html" %} 
    {% block title %} Edit Building Information | XYZ Apartment {% endblock %} 
    
    {% block banner %}
    <h1>
        Edit Building Information
    </h1>
    {% endblock %}
    
    {% block content %}
    <section class="edit-info">
        <div class="container">

            <form  method="POST">
                <div class="office-hrs">
                    <h2>Building Office Hours</h2>
            
                    <div class="week-hours">
                        {% for day, hours in building_hrs.items() %}
                        <div class="day">
                            <h3>{{ day }}</h3>
                            
                            <div class="day-inputs">
                                <div class="input-div checkbox">
                                    {% if hours.is_closed %}
                                    <input type="checkbox" name="{{ day }}-closed" id="{{ day }}-closed" checked>
                                    {% else %}
                                    <input type="checkbox" name="{{ day }}-closed" id="{{ day }}-closed">
                                    {% endif %}
                                    <label for="{{ day }}-closed">Office closed</label>
                                </div>

                                <div class="time-inputs">

                                    <div class="input-div">
                                        <label for="{{ day }}-opening">Opening time</label>
                                        <input 
                                        type="time" 
                                        name="{{ day }}-opening"
                                        id="{{ day }}-opening"
                                        value="{{ hours.opening  or '' }}"
                                        >
                                    </div>    
                                    
                                    <div class="input-div">
                                        <label for="{{ day }}-closing">Closing time</label>
                                        <input 
                                        type="time" 
                                        name="{{ day }}-closing"
                                        id="{{ day }}-closing"
                                        value="{{ hours.closing  or '' }}"
                                        >
                                    </div>    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
                <div class="office-information">
                    <h2>Building Information</h2>

                    <div class="office-location">

                        <h3>Office Address</h3>
                        <div class="info">
                            <div class="input-div">
                                <label for="room" class="required">Office Room</label>
                                <input 
                                type="text" 
                                name="room" 
                                id="room"
                                value="{{ location.room or info.office_room }}"
                                >
                            </div>
                    
                            <div class="input-div">
                                <label for="address" class="required">Office Address</label>
                                <input 
                                type="text" 
                                name="address" 
                                id="address"
                                value="{{ location.address or info.street_address }}"
                                >
                            </div>
                        </div>
    
                        <div class="info col-3">
                            <div class="input-div">
                                <label for="city" class="required">Office city</label>
                                <input 
                                type="text" 
                                name="city" 
                                id="city"
                                value="{{ location.city or info.city }}"
                                >
                            </div>
                            
                            <div class="input-div">
                                <label for="province" class="required">Office province</label>
                                <input 
                                type="text" 
                                name="province" 
                                id="province"
                                value="{{ location.province or info.province }}"
                                >
                            </div>
                            
                            <div class="input-div">
                                <label for="postal-code" class="required">Office postal code</label>
                                <input 
                                type="text" 
                                name="postal-code" 
                                id="postal-code"
                                value="{{ location.postal_code or info.postal_code }}"
                                >
                            </div>
                        </div>
                    </div>
                    
                    <div class="office-contact">
                        <h3>Contact Information</h3>
                        <div class="info">
                            <div class="input-div">
                                <label for="phone" class="required">Office phone number</label>
                                <input 
                                type="tel" 
                                name="phone" 
                                id="phone"
                                value="{{ contact.phone or info.phone }}"
                                >
                            </div>
                    
                            <div class="input-div">
                                <label for="email" class="required">Office email address</label>
                                <input 
                                type="email" 
                                name="email" 
                                id="email"
                                value="{{ contact.email or info.email }}"
                                >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="button-div">
                    <button type="submit" class="btn submit">Confirm Building Information</button>
                    <a href="{{ url_for('home') }}" class="btn cancel">cancel</a>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}