{% extends "base.html" %} 
    {% block title %} Change Your Password | XYZ Apartment {% endblock %} 
    
    {% block content %}
    <div>
        <p>Password Requirements:</p>
        <ul>
            <li> Password must be between 8 to 20 characters inclusively </li>
            <li> Password must contain at least 1 uppercase letter </li>
            <li> Password must contain at least 1 digit </li>
        </ul>
    </div>

    <form method="POST">
        <div class="input-div">
            <label for="password"> Password </label>
            <input 
                id="password" 
                name="password" 
                type="password" 
                required 
            />
        </div>
        
        <div class="input-div">
            <label for="password"> Confirm Password </label>
            <input 
                id="confirm-password" 
                name="confirm-password" 
                type="password" 
                required 
            />
        </div>

        <button type="submit">Log in</button>
    </form>
    {% endblock %}