{% extends "base.html" %} 
    {% block title %} Change Your Password | XYZ Apartment {% endblock %} 

    {% block banner %}
    <h1>First Login | Password Reset</h1>
    {% endblock %}
    
    {% block description %}
    <section class="first-login">
        <div class="container">
            <div class="password-requirements">
                <h2>Password Requirements:</h2>
                <ul>
                    <li> Password must be between 8 to 20 characters inclusively </li>
                    <li> Password must contain at least 1 uppercase letter </li>
                    <li> Password must contain at least 1 digit </li>
                </ul>
            </div>
        </div>
    </section>
    {% endblock %}
            
    {% block content %}
    <section class="first-login">
        <div class="container">
            <form method="POST">
                <h2>Change your password</h2>

                <div class="input-div">
                    <label for="password"> New Password </label>
                    <input 
                        id="new-password" 
                        name="new-password" 
                        type="password" 
                        required 
                    />
                </div>
                
                <div class="input-div">
                    <label for="password"> Confirm Password </label>
                    <input 
                        id="confirm-password" 
                        name="confirm-password" 
                        type="password" 
                        required 
                    />
                </div>
        
                <div class="button-div">
                    <button type="submit" class="btn submit">Change password</button>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}