{% extends "base.html" %} 
    {% block title %} Login | XYZ Apartment {% endblock %} 
    
    {% block banner %}
    <h1>Login</h1>
    {% endblock %}

    {% block content %}
    <section class="login">
        <div class="container">

            <form method="POST">
                <div class="input-div">
                    <label for="email">
                        Email Address
                    </label>
        
                    <input
                        id="email"
                        name="email"
                        type="email"
                        value="{{ email or '' }}"
                        required
                    />
                </div>
        
                <div class="input-div">
                    <label for="password"> Password </label>
                    <input 
                        id="password" 
                        name="password" 
                        type="password" 
                        required 
                    />
                </div>
        
                <div class="button-div">
                    <button type="submit" class="btn submit">Log in</button>
                    <a 
                    href="{{ url_for('home') }}" 
                    class="btn cancel"
                    >
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </section>
    {% endblock %}