<!-- residents general management / admin approve / reject post -->
{% extends "base.html" %} 
    {% block title %} Manage Posts | XYZ Apartment {% endblock %} 

    {% block banner %}
    <h1>Manage Posts</h1>
    {% endblock %}

    {% block content %}
    {% if not current_user.is_admin() %}
    <section class="quick-access">
        <div class="container">
            <div class="button-div">
                {% if not current_user.is_admin() %}
                <a 
                href="{{ url_for('content.post_add') }}" 
                class="btn"
                >
                    Create new post
                </a>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

    <section class="posts">
        <div class="container">
            <div class="display-btns">
                <button class="btn active" id="btn-pending">
                    Pending posts
                </button>

                <button class="btn" id="btn-approved">
                    Approved Posts
                </button>

                <button class="btn" id="btn-rejected">
                    rejected Posts
                </button>

                
                {% if not current_user.is_admin() %}
                <button class="btn" id="btn-archived">
                    Archived Posts
                </button>
                {% endif %}
            </div>

            <div class="user-posts-div">
                <div class="sorting-btns">
                    <button class="btn active" id="recent">Recent</button>
                    <button class="btn" id="id">Oldest</button>
                    <button class="btn" id="title">title (asc)</button>
                    <button class="btn" id="start-date">start date (asc)</button>
                    <button class="btn" id="end-date">end date (asc)</button>
                    <button class="btn" id="category-search">in search of category (desc)</button>
                    <button class="btn" id="category-give">to give away category (desc)</button>
                    <button class="btn" id="category-share">something to share category (desc)</button>
                </div>

                <div class="error-msg"></div>

                {% if current_user.is_admin() %}
                <div class="user-posts admin"></div>

                {% else %}
                <div class="user-posts residents"></div>
            </div>
            {% endif %}
        </div>
    </section>

    <template id="template-post">
        {% import 'components.html' as components %}
        {{ components.style('post') }}
        {{ components.card('post', label_1='author', label_2='duration', label_3='contact') }}
    </template>
    {% endblock %}
    
    {% block script %}
    <script type="module" src="{{ url_for('static', filename='js/managePosts.js') }}"></script>
    {% endblock %}