* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root {
    --bg: #ede9e8;
    --bg-50: #ede9e880;
    --bg-alt: #e9e2d9;

    --text-main: #1c1917;
    --text-mid: #322d29;
    --text-subtle: #534a46;
    --text-contrast: #f6f5f4;

    --primary-color: #425747;
    --on-primary:var(--text-contrast);
    --primary-light: #c3ccc5;
    --primary-light-60: #c3ccc599;
    --on-primary-light-main: var(--text-main);
    --on-primary-light-accent: var(--primary-color);
    --on-primary-light-mid: var(--text-mid);
    --on-primary-light-subtle: var(--text-subtle);
    
    --secondary-color: #4e2f24;
    --on-secondary:var(--text-contrast);
    --secondary-light: #e7d2cb;
    --secondary-light-50: #e7d2cb80;
    --on-secondary-light-main: var(--text-main);
    --on-secondary-light-accent: var(--secondary-color);
    --on-secondary-light-mid: var(--text-mid);
    --on-secondary-light-subtle: var(--text-subtle);

    --warning-color: #a36300;
    --on-warning: var(--text-contrast);

    --error-color: #a30e00;
    --on-error: var(--text-contrast);

    --info-color: #003ca3;
    --on-info: var(--text-contrast);

    --success-color: #008048;
    --on-success: var(--text-contrast);

    /* SIZES */
    --radius: 4px;

    --box-shadow: 4px 4px 10px rgba(83, 74, 70, .25);
    --item-shadow: 1px 0 3px 1px rgba(0, 0, 0, .15);

    /* Responsive values */
    @media only screen and (max-width: 992px) {

    }

    @media only screen and (max-width: 768px) {

    }

    @media only screen and (max-width: 576px) {

    }
}

body {
    background-color: var(--bg-alt);
    font-family: "Comic Neue", cursive;
    letter-spacing: 1%;
    color: var(--text-main);
}

section {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    border-radius: var(--radius);
    font-family: "Kalam", cursive;
}

.btn:hover {
    background-color: var(--primary-light);
    color: var(--on-primary-light-accent);
    cursor: pointer;
}

.navbar {
    position: relative;
    background-color: var(--primary-color);
    color: var(--on-primary);
    padding: 20px 50px;
    z-index: 10;
    
    ul {
        /* height: 70px; */
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        
        li {
            height: auto;
        }
        
        .btn {
            background-color: transparent;
            color: var(--on-primary);
        }
        
        .btn:hover {
            color: var(--primary-light);
        }
        
        li.logo-li {
            a.btn.logo {
                font-family: "Miltonian Tattoo", serif;
                font-size: 20px;
                min-width: 165px;
                min-width: 185px;
            }
        }
        
        div.menu {
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap-reverse;
            width: 50%;
            align-items: center;
            justify-content: end;
            
            .btn.active {
                text-decoration: overline;
            }
            
            a,
            button {
                background-color: transparent;
                text-decoration: none;
                color: var(--on-primary);
                border: none;
                font-family: "Kalam", cursive;
            }

            a:hover,
            button:hover {
                color: var(--primary-light);
            }

            button.active {
                font-weight: 600;
                text-decoration: overline solid 2px;
            }
        }
    }
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
    font-family: "Kalam", cursive;
}

h1:last-child {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: "Kalam", cursive;
}

h3 {
    font-family: "Kalam", cursive;
}

div.error-msg {
    display: none;
}

div.error-msg.active {
    display: block;
    color: var(--error-color);
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

/* Specific Variables */
section.banner {
    position:relative;

    background-image: url("./assets/cork.jpg");
    background-color: var(--secondary-light-50);
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;
    
    
    div.paper-div {
        color: var(--text-mid);
        text-align: center;

        position: relative;
        width: fit-content;
        padding: 50px 40px;
        background-color: var(--bg);
        margin: 0 auto;
        transform: translateY(-10px);

        box-shadow: var(--item-shadow);

    }

    div.paper-div::before {
        content: '';

        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .15);
        

        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-25%, 25%);
    }

    div.paper-div::after {
        content: '';

        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: var(--secondary-color);
        box-shadow: 1px 0 1px 1px rgba(0, 0, 0, .15);
        

        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 25%);
    }
}

section.banner.home{
    padding: 150px 0;
    background-image: url("./assets/cinderblock.jpg");
    background-color: var(--primary-light-60);
    background-blend-mode: saturation;

    div.paper-div {
        color: var(--text-mid);
        text-align: center;

        position: relative;
        width: fit-content;
        padding: 50px 40px;
        background-color: var(--bg);
        margin: 0 auto;

        box-shadow: var(--item-shadow);

    }

    div.paper-div::before {
        display: none;
    }

    div.paper-div::after {
        content: '';

        width: 90%;
        height: 40px;
        background-image: url("./assets/breadcrumbs.png");
        background-position: center;
        background-size: cover;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        opacity: .9;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

section.banner::after {
    content: '';
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    box-shadow: var(--item-shadow);

    position:absolute;
    bottom: 0;
    left: 0;
    transform: translateY(20px);
}

section.banner.home::before {
    content: '';
    width: 55px;
    height: 40px;
    background-image: url("./assets/decoTape.png");
    background-position: center;
    background-size: cover;

    position:absolute;
    bottom: 3%;
    left: 3%;
    transform: translateY(-20px) rotate(18deg);
    z-index: 0;
}

section.breadcrumbs {
    padding: 40px 0;

    ul.page-list {
        display: flex;
        gap: 15px;
        list-style: none;
        font-size: 16px;
        text-transform: capitalize;

        background-image: url("./assets/breadcrumbs.png");
        background-position: center;
        background-size: cover;

        width: fit-content;
        padding: 10px 20px;

        li a {
            color: var(--primary-color);
            font-weight: 600;
        }
        li p {
            text-decoration: none;
            color: var(--text-mid);
            font-weight: 700;
        }

        li p.last {
            font-weight: 400;
        }
    }
}

section.flash-section {
    padding: 30px 0 0;

    .flash-messages {
        padding: 20px;
        background-color: var(--secondary-light);
        border-radius: var(--radius);

        .flash {
            font-weight: 500;
        }
    
        .flash.error {
            color: var(--error-color);
        }

        .flash.success {
            color: var(--info-color);
        }
    }


}

section.building-information {
    background-image: url('./assets/cork.jpg');
    background-color: var(--bg-50);
    background-position: center;
    background-size: cover;
    background-blend-mode: hard-light;

    .edit-btn {
        margin-bottom: 30px;
        text-align: end;

        .btn {
            display: inline-flex;
            border: var(--primary-color) 1px solid;
            background-color: var(--primary-light);
            color: var(--on-primary-light-mid);
            box-shadow: var(--item-shadow);
        }
        
        .btn:hover {
            background-color: var(--primary-color);
            color: var(--on-primary);
        }
    }

    div.info {
        display: flex;
        justify-content: space-between;
        gap: 40px 20px;
        flex-wrap: wrap;
        
        h2 { 
            margin-bottom: 15px;
        }

        article {
            min-width: 250px;
            width: calc(33% - 20px);
            flex-grow: 1;
            padding: 40px;

            background-color: var(--primary-color);
            color: var(--on-primary);
            box-shadow: var(--item-shadow);

            position: relative;
        }

        article:nth-child(even){
            background-color: var(--secondary-color);
            color: var(--on-secondary);

            li {
                border: none;
                width: fit-content;
            }
        }
    
        article::before {
            content: '';
    
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--primary-light);
            box-shadow: --item-shadow;
            
    
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-35%, 35%);
        }
    
        article::after {
            content: '';
    
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: var(--primary-light);
            box-shadow: var(--item-shadow);
    
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(35%, 35%);
        }
    
        ul {
            list-style: none;
    
            li {
                display: flex;
                gap: 10px;
                justify-content: space-evenly;
                margin-bottom: 5px;

                border-bottom: 1px solid var(--on-primary);
                
                p.label {
                    font-weight: 700;
                    width: 35%;
                }

                p:nth-child(even) {
                    width: 65%;
                }
            }

            li:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

form {
    /* General form styling */
    div.info {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        
        div.input-div {
            flex-grow: 1;
            width: calc(33% - 20px);
        }
    }

    div.input-div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 30px;
    
        label {
            text-transform: capitalize;
            font-size: 18px;
            margin-bottom: 5px;
        }

        label.required::before,
        legend.required::before {
            content: '*';
            color: var(--error-color);
        }
    
        input,
        select,
        textarea {
            padding: 4px 8px;
            border-radius: var(--radius);
            border: 1px solid var(--primary-color);
            margin: 0;
        }
        
        select{
            text-transform: capitalize;
        }
    }
    
    div.input-div.checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 15px;
        margin-bottom: 30px;

        legend {
            font-size: 18px;
            width: 100%;
        }
        
        div.checkbox-option {
            display: flex;
            gap: 5px;
            width: calc(25% - 15px);
            min-width: fit-content;

            label {
                text-transform: capitalize;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    
    div.button-div {
        display: flex;
        gap: 20px;
        justify-content: end;
        margin-top: 20px;
    
        .btn.submit {
            background-color: var(--primary-color);
            color: var(--on-primary);
        }
    
        .btn.cancel {
            color: var(--text-mid);
        }
    }

    /* Building info form styling */
    div.office-hrs {
        margin-bottom: 40px;

        div.day {
            h3 {
                text-transform: capitalize;
                font-size: 20px;
                margin-bottom: 10px;
            }
    
            div.day-inputs {
                display: flex;
                gap: 10px 20px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 20px;
        
                div.time-inputs {
                    display: flex;
                    gap: 15px;
                    width: calc(100% - 200px);
                    min-width: 325px;
    
                    div.input-div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 50%;
                        margin-bottom: 0;
                
                        label {
                            text-transform: capitalize;
                            font-size: 18px;
                        }
        
                        input {
                            margin: 0;
                        }
                    }
                }
                
                div.input-div.checkbox {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 5px;
                    min-width: 150px;
                    max-width: 300px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
    
                    label {
                        text-transform: capitalize;
                        display: inline-block;
                    }
            
                    input {
                        display: inline-block;
                    }
                }
            }
        }
    }

    div.office-information {
        margin-bottom: 40px;

        h3 {
            text-transform: capitalize;
            font-size: 20px;
            margin-bottom: 10px;
        }

        div.info {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            margin-bottom: 15px;

            div.input-div {
                width: calc(50% - 10px);
                margin-bottom: 0;
            }
        }
        
        div.info.col-3 {
            div.input-div {
                width: calc(33% - 10px);
            }
        }

        div.office-location,
        div.office-contact {
            margin-bottom: 20px;
        }
    }

    /* Announcement form styling */
    div.date-div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        justify-content: space-between;
        margin-bottom: 30px;

        p {
            width: 100%;
            font-size: 18px;
            font-style: italic;
        }
        
        div.input-div {
            min-width: 300px;
            width: calc(50% - 20px);
            margin-bottom: 0;
        }
    }
    
    div.contact-div {
        p {
            width: 100%;
            font-size: 18px;
            font-style: italic;
            margin-bottom: 15px;
        }
        
        div.input-div {
            margin: 15px 0 30px;
        }
        
    }
}

section.add-post.description {
    background-color: var(--secondary-light);
    color: var(--on-secondary-light-main);

    h2 {
        color: var(--on-secondary-light-mid);
    }
}



/* DASHBOARD & Manage pages*/
section.quick-access {
    padding: 80px 0 0;

    div.button-div {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        border-radius: var(--radius);
        /* padding: 20px 40px;
        border-radius: var(--radius);
        border: 1px solid var(--primary-color); */
        
        a.btn {
            border: 1px solid var(--primary-color);
            width: 100%;
            text-align: center;
            background-color: var(--primary-color);
            color: var(--on-primary);
            box-shadow: var(--box-shadow);
        }
        
        a.btn:hover {
            background-color: var(--primary-light);
            color: var(--on-primary-light-accent);
        }
    }
}

section.dashboard {
    div.display-btns{
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        .btn {
            border: var(--primary-color) 1px solid;
            background-color: var(--primary-light);
            color: var(--on-primary-light-main);
        }
        
        .btn:hover {
            background-color: var(--secondary-light);
            border: var(--secondary-color) 1px solid;
        }
        
        .btn.active {
            background-color: var(--primary-color);
            color: var(--on-primary);
            cursor: default;
        }

        .btn:first-child {
            border-radius: var(--radius) 0 0 var(--radius);
        }

        .btn:last-child {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }

    div.announcements-div,
    div.posts-div {
        display: none;
    }

    div.announcements-div.active,
    div.posts-div.active {
        display: block;

        div.sorting-btns {
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;

            button.btn {
                background-color: transparent;
                color: var(--text-subtle);
                flex-grow: 1;
                width: calc(20% - 20px);
            }
            
            button.btn:hover {
                background-color: var(--primary-light);
                color: var(--on-primary-light-mid);
            }
            
            button.btn.active {
                background-color: var(--primary-color);
                color: var(--on-primary);
                cursor: default;
            }
        }

        div.announcement-cards,
        div.post-cards {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
}

section.admin-users,
section.resident-users {
    div.sorting-btns {
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        button.btn {
            border: var(--secondary-color) 1px solid;
            background-color: var(--secondary-light);
            color: var(--on-secondary-light-main);
            border-radius: 0;
        }

        button.btn:first-of-type {
            border-radius: var(--radius) 0 0 var(--radius);
        }

        button.btn:last-of-type {
            border-radius: 0 var(--radius) var(--radius) 0;
        }

        button.btn:hover {
            background-color: var(--secondary-light);
            border: var(--secondary-color) 1px solid;
        }

        .btn.active {
            background-color: var(--secondary-color);
            color: var(--on-secondary);
            cursor: default;
        }

        .btn.active:hover {
            background-color: var(--secondary-color);
            color: var(--on-secondary);
            cursor: default;
        }
    }

    ul.admin-list,
    ul.resident-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px; */

        .admin-display,
        .resident-display {
            flex-grow: 1;
            width: calc(33% - 20px);
            min-width: 300px;
            padding: 20px 15px;
            border-radius: var(--radius);
            background-color: var(--primary-light);

            h3 {
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            div.detail {
                display: flex;
                flex-direction: column;
                gap: 5px;
                
                p {
                    text-transform: capitalize;
                }

                p.label {
                    font-weight: 600;
                }
            }

            
            div.details-div {
                display: flex;
                flex-wrap: wrap;
                gap: 10px 20px;
                justify-content: space-between;
                
                div.detail {
                    width: calc(50% - 10px);
                    min-height: fit-content;
                }

                div.detail:first-of-type {
                    width: 100%;
                }
            }

            div.button-div {
                display: flex;
                gap: 15px;
                justify-content: end;
                margin-top: 15px;

                .btn.edit:hover,
                .btn.delete:hover {
                    border: var(--primary-color) 1px solid;
                    background-color: var(--primary-light);
                    color: var(--on-primary-light-accent);
                }

                .btn.edit {
                    background-color: var(--primary-color);
                    border: var(--primary-color) 1px solid;
                    color: var(--on-primary);
                }

                .btn.delete {
                    background-color: transparent;
                    border: var(--primary-color) 1px solid;
                    color: var(--text-mid);
                }
            }
        }
    }
}

section.posts,
section.announcements {
    div.display-btns{
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        button.btn {
            border: var(--primary-color) 1px solid;
            background-color: var(--primary-light);
            color: var(--on-primary-light-main);
            border-radius: 0;
        }
        
        .btn:hover {
            background-color: var(--primary-light);
            border: var(--primary-color) 1px solid;
        }
        
        .btn.active {
            background-color: var(--primary-color);
            color: var(--on-primary);
            cursor: default;
        }
        
        
        .btn.active:hover {
            background-color: var(--primary-color);
            color: var(--on-primary);
            cursor: default;
        }

        button.btn:first-of-type {
            border-radius: var(--radius) 0 0 var(--radius);
        }

        button.btn:last-of-type {
            border-radius: 0 var(--radius) var(--radius) 0;
        }
    }
    
    div.user-posts-div,
    div.announcements-div {
        div.sorting-btns {
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;

            button.btn {
                background-color: transparent;
                color: var(--text-subtle);
                flex-grow: 1;
                width: calc(20% - 20px);
            }
            
            button.btn:hover {
                background-color: var(--primary-light);
                color: var(--on-primary-light-mid);
            }
            
            button.btn.active {
                background-color: var(--primary-color);
                color: var(--on-primary);
                cursor: default;
            }
        }

        div.user-posts,
        div.announcement-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div.card-btns {
                div.button-div {
                    display: flex;
                    justify-content: end;
                    text-align: center;

                    form {
                        width: 100%;
                    }
                
                    .btn {
                        width: 100%;
                        border: 1px solid var(--secondary-color);
                    }
                    
                    .btn.approve,
                    .btn.edit {
                        background-color: var(--secondary-color);
                        color: var(--on-secondary);
                        border-radius: var(--radius) 0 0 0;
                    }
                    
                    .btn.reject,
                    .btn.archive,
                    .btn.delete {
                        background-color: var(--secondary-light);
                        color: var(--text-mid);
                        height: 100%;
                        border-radius: 0 var(--radius) 0 0;
                    }
                    
                    .btn.reject.unapprove {
                        border-radius: var(--radius) var(--radius) 0 0;
                    }
                    
                    .btn.archive {
                        border-radius: 0;
                        border-left: 0;
                        border-right: 0;
                    }

                    .btn.approve:hover,
                    .btn.edit:hover {
                        background-color: var(--secondary-light);
                        color: var(--on-secondary-light-accent);
                    }

                    .btn.archive:hover,
                    .btn.delete:hover {
                        background-color: transparent;
                        color: var(--secondary-color);
                    }
                }
            }
        }
    }
}

section.first-login {
    div.password-requirements {
        margin-bottom: 30px;

        ul {
            padding-left: 30px;
        }
    }

}