* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root {
    --bg: #ede9e8;

    --text-main: #1c1917;
    --text-mid: #322d29;
    --text-subtle: #534a46;
    --text-contrast: #f6f5f4;

    --primary-color: #425747;
    --on-primary:var(--text-contrast);
    --primary-light: #c3ccc5;
    --on-primary-light-main: var(--text-main);
    --on-primary-light-accent: var(--primary-color);
    --on-primary-light-mid: var(--text-mid);
    --on-primary-light-subtle: var(--text-subtle);
    
    --secondary-color: #4e2f24;
    --on-secondary:var(--text-contrast);
    --secondary-light: #e7d2cb;
    --on-secondary-light-main: var(--text-main);
    --on-secondary-light-accent: var(--secondary-color);
    --on-secondary-light-mid: var(--text-mid);
    --on-secondary-light-subtle: var(--text-subtle);

    --warning-color: #a36300;
    --on-warning: var(--text-contrast);

    --error-color: #a30e00;
    --on-error: var(--text-contrast);

    --info-color: #003ca3;
    --on-info: var(--text-contrast);

    --success-color: #008048;
    --on-success: var(--text-contrast);

    /* SIZES */
    --radius: 4px;
}

body {
    background-color: var(--bg);
}

section {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    text-transform: capitalize;
    border: none;
    border-radius: var(--radius);
}

.btn:hover {
    background-color: var(--primary-light);
    color: var(--on-primary-light-accent);
    cursor: pointer;
}

.navbar {
    background-color: var(--primary-color);
    color: var(--on-primary);
    padding: 20px 50px;
    
    ul {
        /* height: 70px; */
        list-style: none;
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        li {
            height: auto;
        }

        .btn {
            background-color: transparent;
            color: var(--on-primary);
        }

        .btn:hover {
            color: var(--primary-light);
        }

        li.logo-li {
            
            a.btn.logo {
                font-size: 20px;
                font-weight: 600;
                min-width: 165px;
                min-width: 185px;
            }
        }

        div.menu {
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap-reverse;
            width: 50%;
            align-items: center;
            justify-content: end;

            .btn.active {
                text-decoration: overline;
            }

            a,
            button {
                background-color: transparent;
                text-decoration: none;
                color: var(--on-primary);
                border: none;
            }

            a:hover,
            button:hover {
                color: var(--primary-light);
            }
        }
    }
}

h1 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

h1:last-child {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 20px;
}

/* Specific Variables */
.banner {
    background-image: url(https://montrealgazette.com/wp-content/uploads/sites/2/2026/03/0328-oped-letters-polaris.jpg);
    background-color: rgba(0, 0, 0, .35);
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    
    color: var(--on-primary);
    text-align: center;
}

.banner.home{
    padding: 150px 0;
}

.flash-section {
    padding: 30px 0 0;

    .flash-messages {
        padding: 20px;
        background-color: var(--secondary-light);
        border-radius: var(--radius);

        .flash {
            font-weight: 500;
        }
    
        .flash.error {
            color: var(--error-color);
        }

        .flash.success {
            color: var(--info-color);
        }
    }


}

section.building-information {
    .edit-btn {
        margin-bottom: 30px;
        text-align: end;

        .btn {
            display: inline-flex;
            border: var(--primary-color) 1px solid;
        }
    }

    div.info {
        display: flex;
        justify-content: space-between;
        gap: 40px 20px;
        flex-wrap: wrap;
        
        h2 { 
            margin-bottom: 15px;
        }

        article {
            min-width: 250px;
        }
    
        /* article:last-of-type {
            margin-bottom: 0;
        } */
    
        ul {
            list-style: none;
    
            li {
                display: flex;
                gap: 10px;
                margin-bottom: 5px;
            }

            li:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

form {
    /* General form styling */
    div.input-div {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 30px;
    
        label {
            text-transform: capitalize;
            font-size: 18px;
            margin-bottom: 5px;
        }
    
        input,
        select,
        textarea {
            padding: 4px 8px;
            border-radius: var(--radius);
            border: 1px solid var(--primary-color);
            margin: 0;
        }
    }
    
    div.input-div.checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px 15px;
        margin-bottom: 30px;

        legend {
            font-size: 18px;
            width: 100%;
        }
        
        div.checkbox-option {
            display: flex;
            gap: 5px;
            width: calc(25% - 15px);
            min-width: fit-content;

            label {
                text-transform: capitalize;
                display: inline-block;
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    
    div.button-div {
        display: flex;
        gap: 20px;
        justify-content: end;
        margin-top: 20px;
    
        .btn.submit {
            background-color: var(--primary-color);
            color: var(--on-primary);
        }
    
        .btn.cancel {
            color: var(--text-mid);
        }
    }

    /* Building info form styling */
    div.office-hrs {
        margin-bottom: 40px;

        div.day {
            h3 {
                text-transform: capitalize;
                font-size: 20px;
                margin-bottom: 10px;
            }
    
            div.day-inputs {
                display: flex;
                gap: 10px 20px;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 20px;
        
                div.time-inputs {
                    display: flex;
                    gap: 15px;
                    width: calc(100% - 200px);
                    min-width: 325px;
    
                    div.input-div {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        width: 50%;
                        margin-bottom: 0;
                
                        label {
                            text-transform: capitalize;
                            font-size: 18px;
                        }
        
                        input {
                            margin: 0;
                        }
                    }
                }
                
                div.input-div.checkbox {
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 5px;
                    min-width: 150px;
                    max-width: 300px;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 0;
    
                    label {
                        text-transform: capitalize;
                        display: inline-block;
                    }
            
                    input {
                        display: inline-block;
                    }
                }
            }
        }
    }

    div.office-information {
        margin-bottom: 40px;

        h3 {
            text-transform: capitalize;
            font-size: 20px;
            margin-bottom: 10px;
        }

        div.info {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            margin-bottom: 15px;

            div.input-div {
                width: calc(50% - 10px);
                margin-bottom: 0;
            }
        }
        
        div.info.col-3 {
            div.input-div {
                width: calc(33% - 10px);
            }
        }

        div.office-location,
        div.office-contact {
            margin-bottom: 20px;
        }
    }

    /* Announcement form styling */
    div.date-div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;
        justify-content: space-between;
        margin-bottom: 30px;

        div.input-div {
            min-width: 300px;
            width: calc(50% - 20px);
            margin-bottom: 0;
        }
    }
}



/* DASHBOARD */
section.quick-access {
    padding: 80px 0 0;

    div.button-div {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        border-radius: var(--radius);
        
        a.btn {
            border: 1px solid var(--primary-color);
            width: 100%;
            text-align: center;
        }
    }
}

section.dashboard {
    div.display-btns{
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        .btn {
            border: var(--primary-color) 1px solid;
            background-color: var(--primary-light);
            color: var(--on-primary-light-main);
        }

        .btn:hover {
            background-color: var(--secondary-light);
            border: var(--secondary-color) 1px solid;
        }

        .btn.active {
            background-color: var(--primary-color);
            color: var(--on-primary);
            cursor: default;
        }
    }

    div.announcements-div{
        display: none;
    }

    div.announcements-div.active{
        display: block;

        div.sorting-btns {
            margin-bottom: 15px;

            button.btn {
                background-color: transparent;
                color: var(--text-subtle);
            }
            
            button.btn:hover {
                background-color: var(--primary-light);
                color: var(--on-primary-light-mid);
            }
            
            button.btn.active {
                background-color: var(--primary-color);
                color: var(--on-primary);
                cursor: default;
            }
        }
        
        div.announcement-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }

    div.posts-div{
        display: none;
    }

    div.posts-div.active{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
        div.sorting-btns {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 15px;

            button.btn {
                background-color: transparent;
                color: var(--text-subtle);
            }
            
            button.btn:hover {
                background-color: var(--primary-light);
                color: var(--on-primary-light-mid);
            }
            
            button.btn.active {
                background-color: var(--primary-color);
                color: var(--on-primary);
                cursor: default;
            }
        }
        
        div.post-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

section.resident-users {
    ul.resident-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .resident-display {
            padding: 10px;
            border-radius: var(--radius);
            background-color: var(--primary-light);

            h3 {
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            div.detail {
                display: flex;
                gap: 10px;
                
                p.label {
                    text-transform: capitalize;
                }
            }

            div.button-div {
                display: flex;
                gap: 15px;
                justify-content: end;
                margin-top: 15px;

                .btn.edit:hover,
                .btn.delete:hover {
                    border: var(--primary-color) 1px solid;
                    background-color: var(--primary-light);
                    color: var(--on-primary-light-accent);
                }

                .btn.edit {
                    background-color: var(--primary-color);
                    border: var(--primary-color) 1px solid;
                    color: var(--on-primary);
                }

                .btn.delete {
                    background-color: transparent;
                    border: var(--primary-color) 1px solid;
                    color: var(--text-mid);
                }
            }
        }
    }
}

section.admin-users {
    div.button-div {
        margin-bottom: 20px;
        display: flex;
        justify-content: end;

        .btn {
            background-color: var(--primary-light);
            color: var(--on-primary-light-mid);
            border: var(--primary-color) 1px solid;
        }

        .btn:hover {
            background-color: var(--secondary-light);
        }

        .btn.active {
            background-color: var(--primary-color);
            color: var(--on-primary);
        }
    }

    ul.admin-list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .admin-display {
            padding: 10px;
            border-radius: var(--radius);
            background-color: var(--primary-light);

            h3 {
                text-transform: capitalize;
                margin-bottom: 10px;
            }

            div.detail {
                display: flex;
                gap: 10px;
                
                p.label {
                    text-transform: capitalize;
                }
            }

            div.button-div {
                display: flex;
                gap: 15px;
                justify-content: end;
                margin-top: 15px;

                .btn.edit:hover,
                .btn.delete:hover {
                    border: var(--primary-color) 1px solid;
                    background-color: var(--primary-light);
                    color: var(--on-primary-light-accent);
                }

                .btn.edit {
                    background-color: var(--primary-color);
                    border: var(--primary-color) 1px solid;
                    color: var(--on-primary);
                }

                .btn.delete {
                    background-color: transparent;
                    border: var(--primary-color) 1px solid;
                    color: var(--text-mid);
                }
            }
        }
    }
}

section.posts,
section.announcements {
    div.display-btns{
        display: flex;
        justify-content: end;
        margin-bottom: 30px;

        button.btn {
            border: var(--primary-color) 1px solid;
            background-color: var(--primary-light);
            color: var(--on-primary-light-main);
            border-radius: 0;
        }

        button.btn:first-of-type {
            border-radius: var(--radius) 0 0 var(--radius);
        }

        button.btn:last-of-type {
            border-radius: 0 var(--radius) var(--radius) 0;
        }

        button.btn:hover {
            background-color: var(--secondary-light);
            border: var(--secondary-color) 1px solid;
        }

        .btn.active {
            background-color: var(--primary-color);
            color: var(--on-primary);
            cursor: default;
        }
    }
    
    div.user-posts-div,
    div.announcements-div {
        div.sorting-btns {
            display: flex;
            gap: 5px 20px;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;

            button.btn {
                background-color: transparent;
                color: var(--text-subtle);
            }
            
            button.btn:hover {
                background-color: var(--primary-light);
                color: var(--on-primary-light-mid);
            }
            
            button.btn.active {
                background-color: var(--primary-color);
                color: var(--on-primary);
                cursor: default;
            }
        }

        div.user-posts,
        div.announcement-cards {
            display: flex;
            flex-direction: column;
            gap: 20px;

            div.card-btns {
                div.button-div {
                    display: flex;
                    justify-content: end;
                    text-align: center;

                    form {
                        width: 100%;
                    }
                
                    .btn {
                        width: 100%;
                        border: 1px solid var(--secondary-color);
                    }

                    .btn.edit:hover {
                        background-color: var(--secondary-light);
                        color: var(--on-secondary-light-accent);
                    }

                    .btn.archive:hover,
                    .btn.delete:hover {
                        background-color: transparent;
                        color: var(--secondary-color);
                    }

                    .btn.approve,
                    .btn.edit {
                        background-color: var(--secondary-color);
                        color: var(--on-secondary);
                        border-radius: var(--radius) 0 0 0;
                    }
                    
                    .btn.reject,
                    .btn.archive,
                    .btn.delete {
                        background-color: var(--secondary-light);
                        color: var(--text-mid);
                        height: 100%;
                        border-radius: 0 var(--radius) 0 0;
                    }

                    .btn.archive {
                        border-radius: 0;
                        border-left: 0;
                        border-right: 0;
                    }
                }
            }
        }
    }
}